/target/
.idea/
/cyberconnector-portal/src/main/webapp/images/psd
*.iml
*.ipr
*.iws



**/.DS_Store

**/build/classes/**/*.class

.classpath
.project
.settings

*cc_secret.properties
*all-*.sql
/test/
/test-bak/
/WebContent/covali/js/Cesium/*


src/config.properties
