.AnimationButton1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.AnimationButton2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.AnimationButton2:hover {
  background-color: #008CBA;
  color: white;
}
