<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
  <head>
    <title>Order</title>
  </head>

  <body>


	<!--body-->
    <div class="clearfix" layout:fragment="content">
		<!-- Jumbotron -->
		<div class="sec-heading font-default">
			<div class="container">
	            <h1>Check Your Order Status</h1>
	        </div>
		</div>
		<!-- <p class="text-center">Order Number: &nbsp;&nbsp;&nbsp;<input type="text"  value="" class="wsdl" id="ordernumber" placeholder="input a order number..">&nbsp;&nbsp;&nbsp;<input type="button" id="check" value="Check"><font color="red">*</font></p> -->
		<div class="row text-center">
			<form class="form-inline">
 					<div class="form-group">
						<label for="ordernumber">Enter Order Number</label>
						<input type="text"  value="" class="form-control" id="ordernumber" name="ordernumber" placeholder="input a order number.." />
						<button type="button" name="check" id="check" class="btn btn-primary">Check</button>
					</div>
			</form>
			<small class="text-muted">
			  * The order number was sent to the Email account you provided when the order was initiated.
			</small>
			<br/>
			<br/>
		</div>
		
		<div  class="text-center hide"  id="tablecontainer">
			<table class="table table-bordered">
			    <thead>
			      <tr>
			        <th class="text-center">Field</th>
			        <th class="text-center">Value</th>
			      </tr>
			    </thead>
			    <tbody id="checkresult">
			    	
			    </tbody>
			  </table>
		</div>
		<br/>
		<br/>
		<br/>
    </div> <!-- /container -->
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <th:block layout:fragment="script">
    
		<script type="text/javascript" th:src="@{/js/cc.button.js}" ></script>
		<script type="text/javascript" th:src="@{/js/cc.order.js}" ></script>
    
    </th:block>
    

  </body>
</html>
