<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
  <head>
    
    <title>Cloud Resolving Model</title>
	
  </head>

  <body>
	
	<!--body-->
    <div class="clearfix" layout:fragment="content">
    
    	<div class="sec-heading font-default" >
		        <div class="container" >
		            <h2 class="pull-left">Cloud Resolving Model</h2>
		            <div class="detail-text pull-right" >
		                This page is built to help automatically produce qualified inputs for Cloud Resolving Model application in Cyberinfrastructure. <a href="http://www.meteor.iastate.edu/faculty/wuxq/wuxq.html">Prof. Xiaoqing Wu</a> from <a href="http://www.iastate.edu/">Iowa State University</a> provides the interior algorithms and codes which perform the actual data transformation processing. 
		            </div>
		        </div>
		    </div>
		
		<div class="col-md-1">
		
		</div>
		
		<div class="col-md-10">
			<p class="title">CSU array-averaged analysis products</p>
			<p class="normal">These data products were created by objectively analyzing upper-air sonde data onto a regular 1-degree, 
	25-hPa grid using multiquadric interpolation. The gridded data fields were then averaged over the Northern Sounding Array (NSA) and Southern Sounding Arrays (SSA). The NSA analyses were strongly modulated by MJO signal while SSA analyses were modulated more by ITCZ convection. Default input files of Indian Ocean: </p>
			<ul>
				<li><a href="http://www3.csiss.gmu.edu/data/fields.lsan_v1">field.lsan_v1</a></li>
				<li><a href="http://www3.csiss.gmu.edu/data/q1q2.lsan_v1">q1q2.lsan_v1</a></li>
				<li><a href="http://www3.csiss.gmu.edu/data/nsa.dfluxes">nsa.dfluxes</a></li>
			</ul>
			<p class="normal">Time period: 1 October - 31 Decemeber 2011,  6-hr resolution unless noted otherwise</p>
			<ul class="list-inline">
				<li>
					  <div class="form-group">
					    <label for="field_file_url">Input Field file</label>
					    <input id="field_file_url" type="text" class=" form-control col-lg-6" /> <font style="color: red;">*</font>
					  </div>			
				</li>
				<li>
					<div class="form-group">
					    <label for="q1q2_file_url">Input Q1 and Q2 file</label>
					    <input id="q1q2_file_url"  type="text"  class=" form-control col-lg-6" /> <font style="color: red;">*</font>
					  </div>					
				</li>
				<li>
					<div class="form-group">
					    <label for="fluxes_file_url">Input Surface Fluxes file</label>
					    <input id="fluxes_file_url"  type="text"  class=" form-control col-lg-6" /> <font style="color: red;">*</font>
					  </div>		
				</li>
				
			</ul>
			<ul>
				<li class="largelinespace">Provide an email address to receive the final product: <input type="text" id="email" placeholder="receiver@example.com" /> <font style="color: red;">*</font></li>
				<li class="largelinespace">Click the button to place the order: <input type="button"  id="crm_btn" value="Place an order" /></li>
				<li class="largelinespace">Click <a href="http://www3.csiss.gmu.edu/VDP">here</a> to view the corresponding geoprocessing model and workflow of this virtual product.</li>
				<li class="largelinespace">Click <a href="chkorder.html">here</a> to check the status of your order.</li>
			</ul>
			<br/>
		</div>
		
		
    </div> <!-- /container -->
	
	<th:block  layout:fragment="script">
	
		<script type="text/javascript" language="javascript" th:src="@{/js/datetimepicker.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/cc.crm.js}"></script>
	
	</th:block>
	
  </body>
</html>
