<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
  <head>
   
    <title>FVCOM: Finite-Volume Coastal Ocean Model</title>
	
  </head>

  <body>
	
	<!--body-->
    <div class="clearfix" layout:fragment="content">
    	
    	<div class="sec-heading font-default" >
	        <div class="container" >
	            <h2 class="pull-left">Finite-Volume Coastal Ocean Model</h2>
	            <div class="detail-text pull-right" >
	                This page is built to help automatically produce qualified inputs for Finite-Volume Coastal Ocean Model application in Cyberinfrastructure. <a href="http://www.sce.lsu.edu/profile/haosheng-huang/">Prof. Haosheng Huang</a> from <a href="http://www.lsu.edu">Louisiana State University (LSU)</a> provides the interior algorithms and codes which perform the actual data transformation processing. 
	            </div>
	        </div>
	    </div>
    	
    	<div class="col-md-1">
		
		</div>
		
		<div class="col-md-10">
			
			<!-- Temperature and salinity initial condition file -->
			
			<h2>Temperature and salinity initial condition file</h2>
			
			<p class="normal">This file is extracted and interpolated from HYCOM product (<a href="ftp://ftp.hycom.org/datasets/GOMl0.04/expt_31.0/data/">ftp://ftp.hycom.org/datasets/GOMl0.04/expt_31.0/data/</a>) which is free to download and generally in NetCDF format. The study area is Gulf of Mexico.</p>
			
			<ul>
				
				<li class="largelinespace">Select a year: 
					
					<select id="hycom_year" >
					</select> <font style="color: red;">*</font>
				</li>
				<li class="largelinespace">Select a day: 
					<select id="hycom_day"></select> 
					<font style="color: red;">*</font>
				</li>
				<li class="largelinespace">Select a hour: 
					<select id="hycom_hour"></select> 
					<font style="color: red;">*</font>
				</li>
				<li class="largelinespace">
					Provide an email address to receive the final product: 
					<input type="text" id="email_1" placeholder="receiver@example.com"/> 
					<font style="color: red;">*</font>
				</li>
				<li class="largelinespace">
					Click the button to place the order: 
					<input type="button"  id="hycom_btn" value="Place an order"/>
				</li>
				<li class="largelinespace">
					Click 
					<a href="http://www3.csiss.gmu.edu/VDP">here</a> 
					to view the corresponding geoprocessing model and workflow of this virtual product.
				</li>
				<li class="largelinespace">
					Click 
					<a href="chkorder.html">here</a> 
					to check the status of your order.
				</li>
			</ul>
			<!-- River forcing file -->
			<h2>River forcing file</h2>
			<p class="normal">River discharge data including number of rivers, discharge volume,
	discharge temperature, and discharge salinity. River discharge data are extracted from USGS website (<a href="http://waterdata.usgs.gov/usa/nwis/uv">http://waterdata.usgs.gov/usa/nwis/uv</a>). The file is generated based on four fixed observation sites (the site no in the basket is defined by USGS): </p>
			<p class="normal">
				<ul>
					<li>Atchafalaya_River_at_Morgan_City (07381600)</li>
					<li>Caernarvon_Outfall_Channel (295124089542100)</li>
					<li>Mississippi_River_at_Belle_Chasse (07374525)</li>
					<li>Wax_Lake_Outlet (07381590)</li>
				</ul>
			</p>
			<p class="normal">Respectively, the list of adopted river properties for each site is (parameter no is defined and explained by USGS): </p>
			<p class="normal">
				<ul>
					<li>00065; 00060</li>
					<li>00065; 00010; 00060; 00095; 00480</li>
					<li>00065; 00055; 00060</li>
					<li>72020; 00060</li>
				</ul>
			</p>
			<p class="normal">Complete the following form to request a FVCOM river input file:</p>
			<ul>
				<li class="largelinespace">Select a year: 
					<select id="river_year">
					</select> <font style="color: red;">*</font>
				</li>
				<li class="largelinespace">
					Provide an email address to receive the final product: 
					<input type="text" id="email_2" placeholder="receiver@example.com" /> 
					<font style="color: red;">*</font>
				</li>
				<li class="largelinespace">
					Click the button to place the order: 
					<input type="button"  id="river_btn" value="Place an order"/>
				</li>
				<li class="largelinespace">
					Click 
					<a href="http://www3.csiss.gmu.edu/VDP">here</a> 
					to view the corresponding geoprocessing model and workflow of this virtual product.
				</li>
				<li class="largelinespace">
					Click 
					<a href="chkorder.html">here</a> 
					to check the status of your order.
				</li>
			</ul>
			<!-- Wind forcing file -->
			<h2>Wind forcing file</h2>
			<p class="normal">The real-time fields of wind velocity or wind stress used for FVCOM.</p>
			<ul>
				<li class="largelinespace">Select begin date: 
				<input type="text" id="bdtv"  name="bdtv" onchange="cc.fvcom.beginTimeTextChangeCallBack();" placeholder="2000-01-01"/>
				&nbsp;<button type='button' id="selectdate1"  class="buttondate" ><img th:src="@{/images/calendar.png}" height="16" width="16"/></button> <font style="color: red;">*</font></li>
				
				<li class="largelinespace">Select end date:
				<input type="text" id="edtv"  name="edtv" onchange="cc.fvcom.endTimeTextChangeCallBack();" placeholder="2000-01-01"/>
				&nbsp;
				<button type='button' id="selectdate2"  class="buttondate" >
					<img th:src="@{/images/calendar.png}" height="16" width="16"/>
				</button> <font style="color: red;">*</font></li>
				
				<li class="largelinespace">Provide an email address to receive the final product: 
				<input type="text" id="email_3" placeholder="receiver@example.com"/> 
				<font style="color: red;">*</font>
				</li>
				
				<li class="largelinespace">Click the button to place the order: 
				<input type="button"  id="wind_btn" value="Place an order"/>
				</li>
				
				<li class="largelinespace">
				Click 
				<a href="http://www3.csiss.gmu.edu/VDP">here</a>
				 to view the corresponding geoprocessing model and workflow of this virtual product.</li>
				
				<li class="largelinespace">
				Click 
				<a href="chkorder.html">here</a> 
				to check the status of your order.
				</li>
			
			</ul>
		
		</div>
		
    </div> <!-- /container -->
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <th:block  layout:fragment="script">
	    
	    <script type="text/javascript" th:src="@{/js/datetimepicker.js}"></script>
	
		<script type="text/javascript" th:src="@{/js/cc.fvcom.js}"></script>
	
    </th:block>
    
	
  </body>

</html>
