<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
<head>
    <title>Home</title>
</head>
<body>
<div class="clearfix" layout:fragment="content">

    <div class="page-header">
        <div class="container">
            <h1 class="headline">EarthCube Building Block: CyberConnector</h1>

            <h2 class="tagline">
                Bridging the Earth Observations and Earth Science Modeling for Supporting Model Validation, Verification, and Inter-comparison
            </h2>

            <div class="text-center">
                <a role="button" class="btn-white" th:href="@{demo}">Online DEMO</a>
                <br class="visible-xs-inline"/><br class="visible-xs-inline"/>
                <a role="button" class="btn btn-lean" th:href="@{feature}">More Features</a>
            </div>
        </div>
    </div>

    <section class="sec-white font-default">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <p class="pull-right more"><a th:href="@{about}">MORE</a></p>
                    <h2>What is CyberConnector</h2>

                    <p>CyberConnector is a NSF-funded open source project aiming to develop an EarthCube building block 
                    	for facilitating the automatic preparation and
                        feeding of both historic and near-real time Earth Observation
                        customized data and on-demand derived products into Earth science
                        models.</p>

                    <p>It will automatically process the EO data into the right
                        products in the right form needed for ESM initialization,
                        validation, and inter-comparison. It can support many different
                        ESMs through its standard interfaces under a unified framework.</p>

                    <p><a th:href="@{about.html#para4}"><img class="img-responsive center-block" th:src="@{/images/pic_framework.png}"/></a></p>

                    <p>CyberConnector can also automatically serve the model
                        outputs in interoperable forms through standard data services to
                        facilitate rapid inter-model comparison. It bridges the sensors
                        and earth science models through standard interfaces, such as Web
                        Processing Service, Sensor Planning Service, and Catalogue
                        Service for the Web.</p>

                    <p>The system is to be demonstrated with actual earth science
                        models: the Cloud-Resolving Model (CRM), the Community
                        Multi-scale Air Quality Model (CMAQ), and the Finite Volume
                        Coastal Ocean Model. The final platform are to be
                        deployed and maintained for operational ingestion, discovery,
                        access, and present geospatial models, data, and information</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
            
            	<div class="panel panel-default panel-side">
            	
            		<h2>Documentation</h2>
            		<dl>
                        <dt>User Oriented</dt>
                        <dd>- <a href="https://github.com/CSISS/cc">Wiki</a></dd>
                        <dd>- <a href="https://github.com/CSISS/cc/releases">Downloads</a></dd>
                        <dd>- <a href="productsearch">Search Thredds</a></dd>
                        <dd>- <a href="demo">VDP (Virtual Data Product)</a></dd>
                        <dd>- <a href="servicesearch">Supported Process</a></dd>
                        <dd>- <a href="https://github.com/CSISS/cc/issues?q=is%3Aissue+is%3Aclosed">FAQ</a></dd>
                    </dl>
                    <dl>
                        <dt>Developer Oriented</dt>
                        <dd>- <a href="http://github.com/CSISS/cc">Building CyberConnector from Source</a></dd>
                        <dd>- <a href="https://github.com/CSISS/cc/releases">Downloads (source code)</a></dd>
                    </dl>
            		
            	
            	</div>
                <!-- <div class="panel panel-default panel-side">
                    <h2>Principle Investigator</h2>

                    <div class="pull-left"><img th:src="@{/images/photo_ldi-s.png}"/></div>
                    <dl class="side">
                        <dt><a href="people" th:href="@{people#pi-di}">Dr. Liping Di</a></dt>
                        <dd><b>Professor, Director</b></dd>
                        <dd>Center for Spatial Information Science &amp; Systems</dd>
                        <dd>Email: <a href="mailto:ldi@gmu.edu">ldi@gmu.edu</a></dd>
                    </dl>
                </div>
                <div class="panel panel-default panel-side">
                    <h2>Co-Principle Investigators</h2>
                    <dl class="clearfix">
                        <dt><img class="pull-left" th:src="@{/images/photo_ben-s.png}"/></dt>
                        <dt><a href="people#co-pi" th:href="@{people#co-pi}">Dr. Ben Domenico</a></dt>
                        <dd>Development and Outreach Manager Unidata</dd>
                        <dd>University Corporation for Atmospheric Research (UCAR)</dd>
                        <dd>Email: <a href="mailto:ben@ucar.edu">ben@ucar.edu</a></dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><img class="pull-left" th:src="@{/images/photo_huang-s.png}"/></dt>
                        <dt><a href="people#co-pi" th:href="@{people#co-pi-huang}">Dr. Haosheng Huang</a></dt>
                        <dd>Department of Oceanography and Coastal Science</dd>
                        <dd>Louisiana State University</dd>
                        <dd>Email: <a href="mailto:hhuang7@lsu.edu">hhuang7@lsu.edu</a></dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><img class="pull-left" th:src="@{/images/photo_tong-s.png}"/></dt>
                        <dt><a href="people#co-pi" th:href="@{people#co-pi-tong}">Dr. Daniel Tong</a></dt>
                        <dd>Center for Spatial Information Science and Systems</dd>
                        <dd>George Mason University</dd>
                        <dd>Email: <a href="mailto:qtong@gmu.edu">qtong@gmu.edu</a></dd>
                    </dl>
                    <dl>
                        <dt><img class="pull-left" th:src="@{/images/photo_wu-s.png}"/></dt>
                        <dt><a href="people#co-pi" th:href="@{people#co-pi-wu}">Dr. Xiaoqing Wu</a></dt>
                        <dd>Department of Geological and Atmospheric Sciences</dd>
                        <dd>Iowa State University</dd>
                        <dd>Email: <a href="mailto:wuxq@iastate.edu">wuxq@iastate.edu</a></dd>
                    </dl>
                </div> -->
            </div>
        </div>
    </section>

    <section class="sec-lightgrey font-default">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <h2>Domains and exemplar ESMs</h2>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a href="https://www.cmascenter.org/cmaq/" target="_blank">Community Multi-scale Air Quality Model</a></dt>
                                <dd>&middot; open-source community-developed model for air &nbsp;&nbsp; quality simulations.</dd>
                                <dd>&middot; estimates of ozone, particulates, toxics, acid, etc.</dd>
                                <dd><img class="center-block" th:src="@{/images/pic_mod_cmaq.png}"/></dd>
                            </dl>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a href="http://fvcom.smast.umassd.edu/fvcom/" target="_blank">Finite-Volume Coastal Ocean Model (FVCOM)</a></dt>
                                <dd>&middot; a prognostic, unstructured-grid, finite-volume, free-surface, three-dimensional
                                    primitive equation coastal ocean circulation model
                                </dd>
                                <dd><img class="center-block" th:src="@{/images/pic_mod_fvcom.jpg}"/></dd>
                            </dl>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a>Cloud-Resolving Models (CRM)</a></dt>
                                <dd>&middot; simulate the response of convection and clouds to the large-scale forcing</dd>
                                <dd>&middot; resolve the cloud-scale dynamical circulations</dd>
                                <dd>&middot; improving the process-level understanding of cloud-related processes and
                                    their representation in general circulation models
                                    (GCMs)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt></dt>
                                <dd><img class="center-block" th:src="@{/images/pic_mod_century.png}"/></dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <h2>Features</h2>
                    <dl>
                        <dt>Open Specifications</dt>
                        <dd>- ISO/TC 211 standards</dd>
                        <dd>- OGC specifications: CSW, WCS, WFS, WPS, SWE</dd>
                    </dl>
                    <dl>
                        <dt>Open Architectures</dt>
                        <dd>- Service-oriented architecture (SOA)</dd>
                        <dd>- Representational State Transfer (REST)</dd>
                        <dd>- Simple Object Access Protocol (SOAP)</dd>
                    </dl>
                    <dl>
                        <dt>Service Composition</dt>
                        <dd>- Business Process Execution Language (BPEL)</dd>
                        <dd>- Business Process Model and Notation (BPMN)</dd>
                    </dl>
                    <dl>
                        <dt>Interoperability</dt>
                        <dd>- Support standard geospatial services</dd>
                        <dd>- Plug-in-and-play Mode</dd>
                        <dd>- Services free open access</dd>
                    </dl>
                    <dl>
                        <dt>Reusability</dt>
                        <dd>- Common service interfaces</dd>
                        <dd>- Services easy to be reused</dd>
                        <dd>- Service-chain-based geo-model processing</dd>
                    </dl>
                    <!--<dl>
                        <dt>Scalability</dt>
                        <dd>- Web-based modelservice-oriented architecture</dd>
                        <dd>- Service easy to be reused</dd>
                    </dl>-->
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>