<!DOCTYPE html>
<!-- 

    Author : Z.S. 
    Date : 2/3/2017

 -->
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
    <head>
    
        <title>Login Page</title>

        <link rel="stylesheet" media="screen, projection" href="../css/loginstyle.css" th:href="@{../css/loginstyle.css}"/>

        <link rel="stylesheet" media="screen, projection" href="../css/font-awesome.css" th:href="@{../css/font-awesome.css}"/>

        <script src="../js/jquery.validate.min.js"></script>

    </head>

  <body>
    
    <!--body-->
    <div class="clearfix" layout:fragment="content">
        
        <div class="sec-heading font-default">
            
        </div>
        
        <section class="container font-default">
            
            <div class="row">
            
                <div class="col-lg-12">
                    
                    <!-- LOGIC PAGE -->
                    
                    <div class="text-center" style="padding:50px 0">
                    
                        <div class="logo">login</div>
                        
                        <div class="login-form-1">
                        
                            <form id="main-login-form" class="text-left" th:action="@{/login}" th:object="${user}" method="post">
                            
                                <div class="login-form-main-message"></div>
                                
                                <div class="main-login-form">
                                
                                    <div class="login-group">
                                    
                                        <div class="form-group">
                                        
                                            <label for="reg_username" class="sr-only">Username</label>                              
                                            <input type="text" class="form-control" th:field="*{name}" placeholder="username"/>
                                            
                                        </div>
                                        
                                        <div class="form-group">
                                        
                                            <label class="sr-only">Password</label>
                                            
                                            <input type="password" class="form-control"  th:field="*{password}"  placeholder="password"/>
                                            
                                        </div>
                                        
                                        <div class="form-group login-group-checkbox">
                                        
                                            <input type="checkbox" th:field="*{remember}"/>
                                            
                                            <label for="remember">remember</label>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                    
                                </div>
                                
                                <div class="etc-login-form">
                                
                                    <p>forgot your password? <a th:href="@{/user_forget}">click here</a></p>
                                    
                                    <p>new user? <a th:href="@{/user_register}">create new account</a></p>
                                    
                                </div>
                                
                            </form>
                            
                        </div>
                        
                    </div>
                    
                </div>
            
            </div>
       
       </section>
       
    </div> <!-- /container -->
    
    <!-- <script src="../js/login.js"></script> -->
            <th:block layout:fragment="script">

            <script th:inline="javascript">

                (function($) {
                    "use strict";

                    var options = {
                      'btn-loading': '<i class="fa fa-spinner fa-pulse"></i>',
                      'btn-success': '<i class="fa fa-check"></i>',
                      'btn-error': '<i class="fa fa-remove"></i>',
                      'msg-success': 'All Good! Redirecting...',
                      'msg-error': 'Wrong login credentials!',
                      'useAJAX': true,
                    };

                    $("#main-login-form").validate({

                        rules: {

                            name: {
                                required: true,
                                minlength: 5
                            },
                            password: {
                                required: true,
                                minlength: 5
                            }
                        },

                        errorClass: "form-invalid",

                        errorPlacement: function( label, element ) {

                            if( element.attr( "type" ) === "checkbox" || element.attr( "type" ) === "radio" ) {
                                element.parent().append( label ); 
                            }
                            else {
                                label.insertAfter( element ); 
                            }
                        }
                    });
         
                    $("#register-form").submit(function() {
                        remove_loading($(this));
                        
                        if(options['useAJAX'] == true)
                        { 
                              dummy_submit_form($(this)); 
                              return false;
                        }
                    });

                })(jQuery);


            </script>
        </th:block>
    
  </body>
</html>
