<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
  	
  	<head>
    	
    	<title>CyberConnector Function Portal</title>
    	
    	<link rel="stylesheet" th:href="@{/css/leaflet.css}" />
    	
    	<link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" />
    	
    	<script type="text/javascript" th:src="@{/js/leaflet.js}" ></script>
		
		<script type="text/javascript" th:src="@{/js/bootstrap-multiselect.min.js}"></script>
    	
    	<script type="text/javascript" th:src="@{/js/datetimepicker.js}" ></script>
    	
    	<script type="text/javascript" th:src="@{/js/cc.upload.js}"></script>
	
		<script type="text/javascript" th:src="@{/js/cc.product.js}"></script>
    	
  	</head>
  	
  	<body>
  	
	    <div class="clearfix" layout:fragment="content">
	    
	    	<div class="sec-heading font-default">
		        
		        <div class="container">
		            
		            <h1 class="pull-left">Order Product</h1>
		            
		            <div class="detail-text pull-right">
		                This page is for users to select and customize a data product. If the product is virtual, a real data will be later generated. If the product is real, the data will be available instantly.
		            </div>
		        
		        </div>
		        
		    </div>
			
			<div class="container">
			
				<div class="row">
			    
			    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
			        
			        <div id="wid-id-0">
			        
			            <!-- widget div-->
			            
			            <div role="content">
			                <!-- widget content -->
			                
			                <div class="widget-body">
								
			                    <div class="row">
			                        
			                        <form id="wizard-1" novalidate="novalidate">
			                            
			                            <div id="bootstrap-wizard-1" class="col-sm-12">
			                                
			                                <div class="form-bootstrapWizard">
			                                    
			                                    <ul class="bootstrapWizard form-wizard">
			                                        
			                                        <li class="active" data-target="#step1">
			                                        
			                                            <a href="#tab1" data-toggle="tab" class="active"> <span class="step">1</span> <span class="title">Basic information</span> </a>
			                                        
			                                        </li>
			                                        
			                                        <li data-target="#step2" class="">
			                                        
			                                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Fill in Inputs</span> </a>
			                                        
			                                        </li>
			                                        
			                                        <li data-target="#step3" class="">
			                                        
			                                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Schedule Cron Job</span> </a>
			                                        
			                                        </li>
			                                        
			                                        <li data-target="#step4" class="">
			                                        
			                                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Review Order</span> </a>
			                                        
			                                        </li>
			                                        
			                                        <li data-target="#step5" class="">
			                                        
			                                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">Complete Order</span> </a>
			                                        
			                                        </li>
			                                        
			                                    </ul>
			                                    <div class="clearfix"></div>
			                                </div>
			                                
			                                <div class="tab-content">
			                                
			                                    <div class="tab-pane active" id="tab1">
			                                
			                                        <br/>
			                                
			                                        <h3><strong>Step 1 </strong> - Basic Information</h3>
				
			                                        <div class="form-actions">
			                                
			                                			<div class="row">
			                                
			                                                <div class="col-sm-12">
			                                                
			                                                	<form class="form-horizontal">
			                                                	
																	<fieldset>
																		
																		<legend>Confirm Product</legend>
																		
																		<!-- Text input-->
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Id</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.id}">Jensen Sun</label>
																		  		
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Name</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.name}">Jensen Sun</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Description</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.desc}">2017-01-01</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Keywords</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.keywords}">CSISS</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Spatial Extent</label>
																		  	  
																			<div class="col-md-5">
																			
																			    <div id="mapid" ></div>
																			
																			    <hr/>
																			
																		  	</div>																		  	

																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Time Extent</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.begintime} + ' - ' + ${product.endtime}">4087 University Dr STE 3100, Fairfax, VA, 22030</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >If Virtual</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.ifvirtual}">zsun@gmu.edu</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Processing Model Id</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.parentmodel}">703-993-6124</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Format</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.format}">active</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Last Update Time</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.lastupdate}">active</label>
																		  	
																		</div>
																		
																		<div class="form-group">
																			
																		  	<label class="col-md-4 control-label" >Owner</label>
																		  	  
																		  	<label class="col-md-5 control-content" th:text="${product.userid}">active</label>
																		  	
																		</div>
																	
																	</fieldset>
																	
																</form>
			                                                
			                                                </div>
			                                
			                                			</div>
			                                	
			                                            <div class="row">
			                                
			                                                <div class="col-sm-12">
			                                
			                                                    <ul class="pager wizard no-margin">
				                                					
			                                                        <li class="next" >
			                                
			                                                            <a class="btn btn-lg btnNext btn-default"> Next </a>
			                                
			                                                        </li>
			                                
			                                                    </ul>
			                                
			                                                </div>
			                                
			                                            </div>
			                                
			                                        </div>
			                                
			                                    </div>
			                                
			                                    <div class="tab-pane" id="tab2">
			                                
			                                        <br/>
			                                        
			                                        <h3><strong>Step 2</strong> - Fill in Inputs</h3>
													
			                                        <div class="form-actions">
			                                        
			                                        	<div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                    
			                                                    <div class="panel panel-default panel-table">
																
																    <div class="panel-heading">
																
																        <div class="tr">
																
																            <div class="td">Parameter</div>
																
																            <div class="td">DataType</div>
																            
																            <div class="td">DataFormat</div>
																
																            <div class="td">Value</div>
																
																        </div>
																
																    </div>
																
																    <div class="panel-body">
																
																        <div class="tr" th:each="input: ${product.inputlist}">
																
																            <div class="td" th:text="${input.name}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique facere necessitatibus quo laboriosam consequuntur</div>
																
																			<div class="td" th:text="${input.datatype}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam placeat odit quasi autem distinctio veritatis ex numquam nihil</div>
																			
																            <div class="td" th:text="${input.format}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam placeat odit quasi autem distinctio veritatis ex numquam nihil</div>
																
																			<!-- date_julian, date_georgia, timestamp, year, month, day_in_year, day_in_month, hour, yearlist, datelist, hourlist, projection_in_epsg, projection_in_wkt, projection_in_proj4, boundingbox, x, y, latitude, longitude, point_coordinate, polygon, polyline, fileurl, urllist, stationid, station_name, place_name, place_id, river_name, river_id, bool, integer, string, double_number -->
																			
																			<div class="td"  th:switch="${input.format}">
																					
																				<p  th:case="'boundingbox'" >
																					
																					<div class="input-group">
																					  
																					  <input class="form-control"  th:id="'input_' +*{input.ename}" type="text" placeholder="input a bounding box.."  th:value="*{input.value}" />
																					  <span class="input-group-btn">
																				      
																				        <button th:id="'mapid_' + *{input.ename}"  onclick="cc.order.popUpBoundingBoxSelector(this.id);" class="btn btn-secondary" type="button">Map</button>
																				        
																				      </span>
																				      
																					</div>
																					
																				</p>
																				
																				<p th:case="day_in_month">
																				
																					<div class="input-group">
																					  
																					  <select th:id="'input_' +*{input.ename}"   th:value="*{input.value}" class="form-control day_in_month" >
																																  	
																					  </select>
																					  
																					</div>
																				
																				</p>
																				
																				<p th:case="day_in_year">
																				
																					<div class="input-group">
																					  
																					  <select th:id="'input_' +*{input.ename}"  th:value="*{input.value}"  class="form-control day_in_year" >
																																  	
																					  </select>
																					  
																					</div>
																				
																				</p>
																				
																				<p th:case="year">
																				
																					<div class="input-group">
																					  
																					  <select th:id="'input_' +*{input.ename}"   th:value="*{input.value}" class="form-control year" >
																																  	
																					  </select>
																					  
																					</div>
																				
																				</p>
																				
																				<p th:case="hour">
																				
																					<div class="input-group">
																					  
																					  <select th:id="'input_' +*{input.ename}"   th:value="*{input.value}" class="form-control hour" >
																																  	
																					  </select>
																					  
																					</div>
																				
																				</p>
																				
																				<p th:case="bool">
																				
																					<div class="input-group">
																					  
																					  <select th:id="'input_' +*{input.ename}"  th:value="*{input.value}" class="form-control bool" >
																																  	
																					  </select>
																					  
																					</div>
																				
																				</p>
																				
																				<p th:case="daylist">
																					
																					<div class="input-group">
																					  
																					  <input class="form-control"  th:id="'input_' +*{input.ename}"  th:value="*{input.value}" type="text" placeholder="input a list of days.."  />
																					  <span class="input-group-btn">
									
																						  <select th:id="'multiselect_' +*{input.ename}"  class="form-control daylist"  multiple="multiple">
																																	  	
																						  </select>
									
																					  </span>
									
																					</div>
																				
																				</p>
																				
																				<p th:case="yearlist">
																				
																					
																					<div class="input-group">
																					  
																					  <input class="form-control"  th:id="'input_' +*{input.ename}"  th:value="*{input.value}" type="text" placeholder="input a bounding box.."  />
																					  <span class="input-group-btn">
									
																						  <select th:id="'multiselect_' +*{input.ename}"  class="form-control yearlist"  multiple="multiple">
																																	  	
																						  </select>
									
																					  </span>
									
																					</div>
																				
																				</p>
																				
																				
																				<p th:case="'fileurl'" >
																					
																			    	File URL: <input class="form-control"  th:id="'input_' +*{input.ename}"  th:value="*{input.value}" type="text" placeholder="input a file URL.."  />
																			    	
																					<font color="red">Or</font> Upload File: <input th:id="'upload_'+*{input.ename}" class="upload" onclick="cc.upload.loadLocalImage(this.id);" type="button" value="Upload" />
																				
																				</p>
																				
																				<p th:case="*">
																				
																					<input  type="text" th:id="'input_' + *{input.ename}"  th:value="*{input.value}" placeholder="input value.." class="form-control"  />
																				
																				</p>
																				
																			</div>
																			
																        </div>
																
																    </div>
																
																    <div class="panel-footer">
																
																        <div class="tr">
																
																            <div class="td">Parameter</div>
																
																			<div class="td">DataType</div>
																
																            <div class="td">DataFormat</div>
																
																            <div class="td">Value</div>
																
																        </div>
																
																    </div>
																
																</div>
			                                                    
			                                                    <hr/>
			                                                
			                                                </div>
			                                            
			                                            </div>
			                                            
			                                            <div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                    
			                                                    <ul class="pager wizard no-margin">
			                                                      
			                                                        <li class="previous" >
			                                                           
			                                                            <a class="btn btn-lg btnPrevious btn-default"> Previous </a>
			                                                        
			                                                        </li>
			                                                       
			                                                        <li class="next" >
			                                                            
			                                                            <a class="btn btn-lg btnNext btn-default" > Next </a>
			                                                       
			                                                        </li>
			                                                    
			                                                    </ul>
			                                                
			                                                </div>
			                                            
			                                            </div>
			                                       
			                                        </div>
			                                    
			                                    </div>
			                                    
			                                    <div class="tab-pane" id="tab3">
			                                        
			                                        <br/>
			                                        
			                                        <h3>
			                                        
			                                        	<strong>Step 3</strong> - Schedule Cron for Recurring Order <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Cron is a time-based job scheduler in Unix-like computer operating systems. People who set up and maintain software environments use cron to schedule jobs (commands or shell scripts) to run periodically at fixed times, dates, or intervals. - quote from Wikipedia"></span>
														
													</h3>
			                                        
			                                        <div class="form-actions">
			                                            
			                                            <div class="alert" role="alert">
			                                            
													    	<div class="panel panel-primary">
													           
													            
													            <div class="panel-body">
													           	
													              <div class="row">
													            
													            	<div class="col-md-3">
													            	
													                	<strong>Common Settings</strong>
													            	
													            	</div>
													            	
													            	<div class="col-md-6">
													            	
													            		<select id="selectcommon" name="selectcommon" class="form-control">
													                	
																		      <option value="onetime">one time no recurring</option>
																		
																		      <option value="everyday">once a day</option>
																			  
																		      <option value="everyweek">once a week</option>
																			  
																		      <option value="everymonth">once a month</option>
																			  
																	    </select>
														            	
													            	</div>
													                
													              </div><!-- .col-md-3 -->
																  
																  <br/>
																  
																  <div class="row">
													            
														            	<div class="col-md-3">
														            	
														                	<strong>Minute</strong>
														            	
														            	</div>
														            	
														            	<div class="col-md-2">
														            	
														                	<input type="text" class="form-control" name="minute" id="minute"  value="*"/>
														            	
														            	</div>
														            	
														            	<div class="col-md-4">
														            	
														            		<select id="selectMinutes" class="form-control" >
														            			
														            			<!-- <option value="*">Every Minute (*)</option> -->
														            			
														            		</select>
														            		
														            	</div>
													                
													              </div><!-- .col-md-3 -->
																  
																  <br/>
																  
																  <div class="row">
																  
																	  	<div class="col-md-3">
																	  	
																	  		<strong>Hour</strong>
																	  	
																	  	</div>
																	  	
																	  	<div class="col-md-2">
																	  	
																	  		<input type="text" class="form-control" name="hour" id="hour"  value="*"/>
																	  	
																	  	</div>
																	  	
																	  	<div class="col-md-4">
																	  	
																	  		<select id="selectHours" class="form-control" >
																	  		
														            			<!-- <option value="*">Every Hour (*)</option> -->
														            			
														            		</select>
																	  	
																	  	</div>
																  
																  </div>
																  
																  <br/>
																  
																  <div class="row">
																  	
																  	<div class="col-md-3">
																  	
																  		<strong>Day</strong>
																  	
																  	</div>
																  	
																  	<div class="col-md-2">
																  	
																  		<input type="text" class="form-control" name="day" id="day"  value="*"/>
																  	
																  	</div>
																  	
																  	<div class="col-md-4">
																  	
																  		<select id="selectDay" class="form-control" >
																  		
														                    <!-- <option value="*">Every Day (*)</option> -->
														                    
														                </select>
																  	
																  	</div>
																  
																  </div>
																  
																  <br/>
																  
																  <div class="row">
																  
																  	<div class="col-md-3">
																  	
																  		<strong>Month</strong>
																  	
																  	</div>
																  	
																  	<div class="col-md-2">
																  	
																  		<input type="text" class="form-control" name="month" id="month"  value="*"/>
																  	
																  	</div>
																  	
																  	<div class="col-md-4">
																  	
																  		<select id="selectMonth" class="form-control" >
																  		
														                    <option>Every Month (*)</option>
														                    
														                    <option>January (1)</option>
														                    
														                    <option>Febuary (2)</option>
														                    
														                    <option>March (3)</option>
														                    
														                    <option>April (4)</option>
														                    
														                    <option>May (5)</option>
														                    
														                    <option>June (6)</option>
														                    
														                    <option>July (7)</option>
														                    
														                    <option>August (8)</option>
														                    
														                    <option>September (9)</option>
														                    
														                    <option>Octobor (10)</option>
														                    
														                    <option>November (11)</option>
														                    
														                    <option>December (12)</option>
														                    
														                </select>
																  	
																  	</div>
																  
																  </div>
																  
																  <br/>
																  
																  <div class="row">
																  
																  		<div class="col-md-3">
																  	
																  		<strong>Weekday</strong>
																  	
																  	</div>
																  	
																  	<div class="col-md-2">
																  		
																  		<input type="text" class="form-control" name="weekday" id="weekday"  value="*"/>
																  	
																  	</div>
																  	
																  	<div class="col-md-4">
																  	
																  		<select id="selectWeekday" class="form-control" >
																  		
														                    <option value="*">Every Day (*)</option>
														                
														                    <option value="1">Monday (1)</option>
														                
														                    <option value="2">Tuesday (2)</option>
														                
														                    <option value="3">Wednesday (3)</option>
														                
														                    <option value="4">Thursday (4)</option>
														                
														                    <option value="5">Friday (5)</option>
														                
														                    <option value="6">Saturday (6)</option>
														                
														                    <option value="7">Sunday (7)</option>
														                
														                </select>
																  	
																  	</div>
																  
																  </div>
																  
																  <div class="row">
																  
																  		<div class="col-md-3">
																  	
																  		<strong>Termination</strong>
																  	
																  	</div>
																  	
																  	<div class="col-md-6">
																  		
																  		<div class="radio">
																		
																		   <label>
																		   
																		   		<input type="radio" name="termination"  value="1" />
																		   		
																		   		<p>
																		   		
																		   			Stop on 
																		   		
																		   		<input type="text" name="bdtv"  id="bdtv" size="24" class="form-control input-md ItemLabel" maxLength="19" onkeydown="DateFormat(this, '1', event)" placeholder="select a timestamp" onKeyUp="DateFormat(this, '1', event)" />
							    												
																		    	<a href="javascript:NewCal('bdtv','yyyymmdd',true,24)">
																					
																					<img src="../images/cal.gif" width="16" height="16" border="0" alt="Pick a date" />
																					
																				</a>
				
																		   		
																		   		</p>																
																			</label>
																			
																		</div>
																		
																		<div class="radio">
																			
																		  	<label>
																		  	
																		  		<input type="radio" name="termination" value="2"  />
																		  		
																		  		Stop after 
																		  		
																		  		<select id="stoptimes">
																		  		
																		  			<option value="1" >1</option>
																		  			
																		  			<option value="2" >2</option>
																		  			
																		  			<option value="3" >3</option>
																		  			
																		  			<option value="4" >4</option>
																		  		
																		  		</select> 
																		  		
																		  		times
																		  		
																		  	</label>
																		
																		</div>
																		
																		<div class="radio">
																		
																		  <label><input type="radio" name="termination" value="3" />Never Stop</label>
																		
																		</div>
																		
																  	</div>
																  	
																  </div>
													              
																	
													            </div><!-- .panel-body -->
													    
													    	</div><!-- .panel -->
													    	
													    </div><!-- .alert -->
			                                            
			                                            <div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                   
			                                                    <ul class="pager wizard no-margin">
			                                                        
			                                                        <li class="previous"  >
			                                                           
			                                                            <a  class="btn btn-lg btnPrevious btn-default"> Previous </a>
			                                                        
			                                                        </li>
			                                                        
			                                                        <li class="next"  >
			                                                            
			                                                            <a  class="btn btn-lg btnNext btn-default"> Next </a>
			                                                        
			                                                        </li>
			                                                    
			                                                    </ul>
			                                                
			                                                </div>
			                                            
			                                            </div>
			                                        
			                                        </div>
			                                    
			                                    </div>
			                                    
			                                    <div class="tab-pane" id="tab4">
			                                        
			                                        <br/>
			                                        
			                                        <h3><strong>Step 4</strong> - Review Order</h3>
			                                        
			                                        <div class="form-actions">
			                                            
			                                            <div class="alert" role="alert">
			                                            
													    	<div class="panel panel-primary">
													           
													            <div class="panel-heading">
													                
													                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>  Order Details
													            
													            </div>
													           
													            <div class="panel-body">
													           	
													              <div class="col-md-6">
													            
													                <strong>Product Name</strong>
													            
													                <span th:text="${product.name}">Lorem ipsum dolor...</span>
													            
													              </div><!-- .col-md-3 -->
													
													              <div class="col-md-6">
													              	
													                <strong>UpdateTime</strong>
													              	
													                <span th:text="${product.lastupdate}">2014-12-27</span>
													              
													              </div><!-- .col-md-3 -->
													              
													              <div class="clearfix"></div>
													
													              <div class="col-md-6">
													                <strong>Identifier</strong>
													                <span th:text="${product.id}">LA12345678 - Nombre super largo de cliente</span>
													              </div><!-- .col-md-6 -->
													              
													              <div class="clearfix"></div>
													
													              <div class="col-md-6">
													                <strong>Description</strong>
													                <span th:text="${product.desc}">14-SERVICIO DE RED PARA CENTRALITAS</span>
													              </div><!-- .col-md-6 -->
													              
													              <div class="clearfix"></div>
													
													              <div class="col-md-12">
													                <strong>Projection</strong>
													                <span th:text="${product.srs}"></span>
													              </div><!-- .col-md-12 -->
													              
													              <div class="col-md-6">
													                <strong>East</strong>
													                <span th:text="${product.east}"></span>
													              </div><!-- .col-md-12 -->
													              
													              <div class="col-md-6">
													                <strong>West</strong>
													                <span th:text="${product.west}"></span>
													              </div><!-- .col-md-12 -->
													              
													              <div class="col-md-6">
													                <strong>North</strong>
													                <span th:text="${product.north}"></span>
													              </div><!-- .col-md-12 -->
													              
													              <div class="col-md-6">
													                <strong>South</strong>
													                <span th:text="${product.south}"></span>
													              </div><!-- .col-md-12 -->
													              
													              <div class="clearfix"></div>
													
													              <div class="col-md-6">
													                
													                <strong>Related Processing Model</strong>
													                
													                <span th:text="${product.parentmodel}">12345678,90</span>
													                
													              </div><!-- .col-md-12 -->
													              
													              <div class="clearfix"></div>
													              
													              <div class="col-md-6">
													                
													                <strong>Cron</strong>
													                
													                <span th:id="cron">12345678,90</span>
													                
													              </div><!-- .col-md-12 -->
													              
													              <div class="clearfix"></div>
													              
													              <div class="col-md-6">
													                
													                <strong>Termination</strong>
													                
													                <span th:id="termination">12345678,90</span>
													                
													              </div><!-- .col-md-12 -->
													              
													              <div class="clearfix"></div>
													              
													              
														            <div class="panel-footer">
														                Review Order Details
														            </div>
														            
														            <div class="col-sm-12">
				                                            
					                                            		<div class="table-responsive">
																		
																			<table class="table">
																		
																			  <thead>
																		
																			    <tr>
																		
																			      <th>Input</th>
																		
																			      <th>Format</th>
																		
																			      <th>Value</th>
																					
																			    </tr>
																		
																			  </thead>
																		
																			  <tbody>
																				
																			    <tr th:each="input : ${product.inputlist}">
																				
																			      <td th:text="${input.name}"></td>
																				
																			      <td th:text="${input.format}"></td>
																				
																			      <td th:id="'value_' + ${input.ename}" ></td>
																				
																			    </tr>
																				
																			  </tbody>
																		
																			</table>
																		
																		</div>
					                                                
					                                                </div>
				                                                	
													            </div><!-- .panel-body -->
													    
													    	</div><!-- .panel -->
													    	
													    </div><!-- .alert -->
			                                            
			                                            <div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                   
			                                                    <ul class="pager wizard no-margin">
			                                                        
			                                                        <li class="previous"  >
			                                                           
			                                                            <a  class="btn btn-lg btnPrevious btn-default"> Previous </a>
			                                                        
			                                                        </li>
			                                                        
			                                                        <li class="next"  >
			                                                            
			                                                            <a  class="btn btn-lg btnNext btn-default"> Confirm </a>
			                                                        
			                                                        </li>
			                                                    
			                                                    </ul>
			                                                
			                                                </div>
			                                            
			                                            </div>
			                                        
			                                        </div>
			                                    
			                                    </div>
			                                    
			                                    <div class="tab-pane" id="tab5">
			                                        
			                                        <br/>
			                                        
			                                        <h3><strong>Step 5</strong> - Complete Order</h3>
			                                        
			                                        <div class="form-actions">
			                                            
			                                            <div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                
			                                                	Click the button to place the order. CyberConnector will receive the order and begin to process. 
			                                                
			                                                </div>
			                                                
			                                            </div>
			                                            
			                                            <div class="row">
			                                                
			                                                <div class="col-sm-12">
			                                                   
			                                                    <ul class="pager wizard no-margin">
			                                                        
			                                                        <li class="previous"  >
			                                                           
			                                                            <a class="btn btn-lg btnPrevious btn-default"> Previous </a>
			                                                        
			                                                        </li>
			                                                        
			                                                        <li class="next">
			                                                            
			                                                            <a class="btn btn-lg btnNext btn-default"> Place Order </a>
			                                                        
			                                                        </li>
			                                                    
			                                                    </ul>
			                                                
			                                                </div>
			                                            
			                                            </div>
			                                        
			                                        </div>
			                                    
			                                    </div>
											
			                                </div>
			                            
			                            </div>
			                        
			                        </form>
			                    
			                    </div>
			
			                </div>
			                <!-- end widget content -->
			
			            </div>
			            <!-- end widget div -->
			
			        </div>
			        <!-- end widget -->
			
			    </article>
			  
			  </div>
			
			</div>
			
			<div id="mapWindow"></div>
			 
			
			<div class="text-center" id="form_area"></div>
			
			<br/>
			
			<br/>
			
			<br/>
			
	    </div>
	    
	    <th:block  layout:fragment="script">
	    
	    	<script type="text/javascript" th:src="@{/js/cc.order.js}"></script>
	    
	    	<script  th:inline="javascript">
	    	/*<![CDATA[*/
	    		
				cc.order.init([[${product.inputlist}]], [[${product.north}]], [[${product.east}]], 
						
						[[${product.south}]], [[${product.west}]], [[${product.id}]]);
        		
	    	/*]]>*/
	    	</script>
	    
	    </th:block>
	    
	  </body>
  
</html>
