<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame" >
  	<head>
    	<title>CyberConnector Function Portal</title>
    	
    	<link rel="stylesheet" media="screen, projection" th:href="@{/css/loginstyle.css}"/>
	
		<link rel="stylesheet" media="screen, projection" th:href="@{/css/newservice.css}"/>
    	
		
  	</head>

  <body>

	<!--body-->
    
    <div class="clearfix" layout:fragment="content">
    
    	<div class="sec-heading font-default" >
	        <div class="container" >
	            <h2 class="pull-left">SOAP Register</h2>
	            <div class="detail-text pull-right" >
	                This page is built to register/remove SOAP web services (WSDL) into/from CyberConnector. 
	            </div>
	        </div>
	    </div>
    
    	<div class="row" >
    	
    		
    	
    		<div class="col-md-12">
				
				<div class="container" >
				
					<div class="container">
				
						<div class="jumbotron  hero-spacer">
						
							<div class="col-md-12">
    		
				    			<div class="form-group">
									
									<p class="text-left">WSDL URI</p>
									
									<input type="text"  value="" class="form-control"  id="wsdluri" placeholder="input a WSDL URI.." />
									
								</div>
				    		
				    		</div>
				    		
				    		<br/>
				    		
				    		
				    		
				    		<div class="col-md-12 text-center">
				    		
				    			<button type="button" class="btn btn-primary" id="regser" value="Register">Register</button><font color="red">*</font> 
				    			
				    			Or 
				    			
				    			<button type="button" class="btn btn-primary" id="unregser" value="Un-Register">Un-Register</button><font color="red">**</font>
				    		
				    		</div>
				    		
				    		
				    		<br/>
				    		
					        <p class="text-left">Information Area</p>
				
							<div class="input-group">
				
					                <div class="field span3" >
				
					                    <textarea class="form-control" wrap="off" rows="5" cols="200"  id="contentdiv">
				
					                    </textarea>
				
					                </div>
				
				            </div>
				
							<br/>
				    		
				    		<div class="col-md-12">
				    		
				    			<p class=" text-left" ><font color="red">*</font>This function supports WSDL 1.0 and 1.1.</p>
				    			
				    			<p class=" text-left" ><font color="red">**</font>This function removes the service from the registry.</p>
				    		
				    		</div>
				    		
						</div>
				
					</div>
				
				</div>
			
		    </div> <!-- /container -->
    	
    	</div>
    	
    </div>
	
	<th:block layout:fragment="script">
  
    	<script type="text/javascript" th:src="@{/js/cc.register.js}"></script>
	
		<script type="text/javascript" th:src="@{/js/cc.button.js}"></script>
    
    </th:block>
	
  </body>
  
</html>
