<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
  
    <head>

        <title>Forget Password</title>

        <link rel="stylesheet" media="screen, projection" th:href="@{/css/loginstyle.css}"/>

        <link rel="stylesheet" media="screen, projection" th:href="@{/css/font-awesome.css}"/>

        <script th:src="@{/js/jquery.validate.min.js}"></script>

    </head>

  <body>
    
    <!--body-->
    <div class="clearfix" layout:fragment="content">
        
        <div class="sec-heading font-default">
            
        </div>
        
        <section class="container font-default">
            
            <div class="row">
            
                <div class="col-lg-12">
                    
                    <!-- FORGOT PASSWORD FORM -->
                    <div class="text-center" style="padding:50px 0">
                        <div class="logo">forgot password</div>
                        <!-- Main Form -->
                        <div class="login-form-1">
                            <form id="forgot-password-form" class="text-left"  th:action="@{/user_forget}" th:object="${user}" method="post">
                                <div class="etc-login-form">
                                    <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                                </div>
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="form-group">
                                            <label for="fp_email" class="sr-only">Email address</label>
                                            <input type="text" class="form-control" id="fp_email" name="fp_email" th:field="*{email}" placeholder="email address" />
                                        </div>
                                    </div>
                                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <div class="etc-login-form">
                                    <p>already have an account? <a th:href="@{/login}">login here</a></p>
                                    <p>new user? <a th:href="@{/user_register}">create new account</a></p>
                                </div>
                            </form>
                        </div>
                        <!-- end:Main Form -->
                    </div>
                    
                </div>
            
            </div>
       
       </section>
       
    </div> <!-- /container -->
    
        <th:block layout:fragment="script">

<!--            <script th:inline="javascript">

                (function($) {
                    "use strict";

                    var options = {
                      'btn-loading': '<i class="fa fa-spinner fa-pulse"></i>',
                      'btn-success': '<i class="fa fa-check"></i>',
                      'btn-error': '<i class="fa fa-remove"></i>',
                      'msg-success': 'All Good! Redirecting...',
                      'msg-error': 'Wrong login credentials!',
                      'useAJAX': true,
                    };

                    $("#forgot-password-form").validate({

                        rules: {
                            fp_email: {
                                required: true,
                                email: true
                            }
                        },

                        errorClass: "form-invalid",

                        errorPlacement: function( label, element ) {

                            if( element.attr( "type" ) === "checkbox" || element.attr( "type" ) === "radio" ) {
                                element.parent().append( label ); 
                            }
                            else {
                                label.insertAfter( element ); 
                            }
                        }
                    });
         
                    $("#register-form").submit(function() {
                        remove_loading($(this));
                        
                        if(options['useAJAX'] == true)
                        { 
                              dummy_submit_form($(this)); 
                              return false;
                        }
                    });

                })(jQuery);


            </script> -->
        </th:block>
    
    </body>
  
</html>