<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../favicon.ico"/>

    <title>COVALI - NSF CyberConnector</title>

    <!-- Bootstrap core CSS -->
    <link href="../covali/css/bootstrap.css" rel="stylesheet"/>
    <link href="../covali/css/bootstrap-dialog.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
	<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
	
	<!--OpenLayers style-->
	<!-- <link href="../covali/css/ol.css" rel="stylesheet"/> -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" />
	<link href="../covali/css/ol3-layerswitcher.css" rel="stylesheet"/>
	<link href="../covali/css/ol-popup.css" rel="stylesheet"/>
	
	<!-- <link href="css/gmu.css" rel="stylesheet"> -->
	
	<link href="../covali/css/sidemenu.css" rel="stylesheet"/>
	
	<link rel="stylesheet" href="../css/leaflet.css" />
    
   	<script type="text/javascript" src="../js/leaflet.js"></script>
   	
   	<script type="text/javascript" src="../js/datetimepicker.js"></script>
	
	<style type="text/css" id="treeview-checkable-style"> 
		.treeview .list-group-item{cursor:pointer}
		.treeview span.indent{margin-left:10px;margin-right:10px}
		.treeview span.icon{width:12px;margin-right:5px}
		.treeview .node-disabled{color:silver;cursor:not-allowed}
		.node-treeview-checkable{}
		.node-treeview-checkable:not(.node-disabled):hover{background-color:#F5F5F5;} 
		
		 .toolbar-btn {background-color: black; color: white;}
	</style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../covali/js/ie-emulation-modes-warning.js"></script>

    <!-- Appended by Gil Heo 6/17/2016  -->            
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="../covali/css/geopackage-js-app.css"/> -->
    
    <link rel="stylesheet" media="screen, projection" href="../css/dataTables.bootstrap.min.css"/>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse sidebar" role="navigation">
	    <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" id="menuheader">COVALI</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:void(0)" id="search">Search Datasets<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
					<li><a href="javascript:void(0)" id="add">Add Data<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
					<li><a href="javascript:void(0)" id="tools">Tools<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
					<li class="dropdown">
						<a href="javascript:void(0)" id="settings" >Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
						<!-- <ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="javascript:void(0)" id="leftsetting">Left Map</a></li>
							<li><a href="javascript:void(0)" id="rightsetting">Right Map</a></li>
						</ul> -->
					</li>
					<li><a href="javascript:void(0)" id="share">Share<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-share"></span></a></li>
					<li><a href="javascript:void(0)" id="about">About<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-phone-alt"></span></a></li>
					<li><a href="http://cube.csiss.gmu.edu" target="_blank" >EarthCube CyberConnector<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-link"></span></a></li>
					<li><a href="https://nsf.gov" target="_blank" ><img src="../images/nsf_logo.png" style="width:100px;height:100px;" class="img-rounded" alt="Cinque Terre"/></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="main">
		
		<!-- <div id="custom-search-input" style="position:absolute; left:10px; top:5px; z-index: 100; width:30%; ">
            <div class="input-group">
                <input type="text" class="search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div> -->
        
        <div class="col-md-3" style="position: absolute; right:10px; bottom:100px; z-index:100;">
		    <select id="projectionselector" name="projectionselector" class="form-control">
		      	<option value="3857">Spherical Mercator (EPSG:3857)</option>
	         	<option value="4326">WGS 84 (EPSG:4326)</option>
	         	<option value="5041">North Polar Region (EPSG:5041)</option>
	         	<option value="5042">South Polar Region (EPSG:5042)</option>
		     	<option value="3395">WGS 84 / World Mercator (EPSG:3395)</option>
		      	<option value="900913">EPSG:900913</option>
	         	<option value="54009">Mollweide (ESRI:54009)</option>
	         	<option value="23032">ED50 / UTM zone 32N (EPSG:23032)</option>
	         	<option value="2163">US National Atlas Equal Area (EPSG:2163)</option>
	         	<option value="3413">NSIDC Polar Stereographic North (EPSG:3413)</option>
	         	<option value="5479">RSRGD2000 / MSLC2000 (EPSG:5479)</option>
		      	<option value="3D">3D</option>
	         	<!-- <option value="32761">WGS 84 / UPS South (N,E) (EPSG:32761)</option>
	         	<option value="32661">WGS 84 / UPS North (N,E) (EPSG:32661)</option>-->
		      	<option value="more">More</option>
		    </select>
		</div>
		
		<!-- Content Here -->
		<div class="row row-xs-11" style="height:100%;">
 				
			<div class="col col-xs-6" style="height:100%;padding:0 0 0 0;border-right: 5px solid gray; " id="openlayers1">
				
				<div id="toolbar-left" style="position: absolute; top: 10px; left: 30px; height: 50px; z-index:101;" >
					
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Search Data Catalog/Local Files" id="toolbar-search"><i class="fa fa-search"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Add Data" id="toolbar-add"><i class="fa fa-plus"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Manage Map Layers" id="toolbar-layer"><i class="fa fa-list"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Create Animation" id="toolbar-animation"><i class="fa fa-film"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Statistics by Point/Linestring" id="toolbar-statistics"><i class="fa fa-chart-bar"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Analysis Tools (e.g., difference calculation)" id="toolbar-difference"><i class="fa fa-calculator"></i></button>
					<button class="btn btn-default toolbar-btn" data-toggle="tooltip" data-placement="bottom" title="Print" id="toolbar-print"><i class="fa fa-print"></i></button>
					
				</div>
				
				<div id="scaleline-openlayers1" style="position:absolute; top:40px; right: 160px; z-index:200;"></div>
				
				<div style="position: absolute; z-index:100; width: 100%; bottom: 0px;background-image: '';" id="left_bottom_area">
				
					<div style="z-index:100; height:20px; margin: auto; width:90%;background-image: '';" 
				
				onclick="edu.gmu.csiss.covali.map.legendclick(this, 'left')" id="legend1" ></div>
				
					<div class="row" style="background-color: white;" id="scale_left"><div class="col-md-4 text-left" id="minleft"></div><div class="col-md-4 text-center" id="middleleft"></div><div class="col-md-4 text-right" id="maxleft"></div></div>
				
					<div id="title-openlayers1" style="text-align:center; font-weight: bold; font-family:Courier New, Courier, monospace; background-color: white; ">
						Layer Caption
					</div>
					
				</div>
				
			</div>
			
			<div class="col col-xs-6" style="height:100%;padding:0 0 0 0;" id="openlayers2">
			
				<!-- <div id="toolbar-right" style="position: absolute; top: 10px; left: 30px; height: 50px; z-index:101;" >
				
					<button class="btn toolbar-btn"><i class="fa fa-home"></i></button>
					<button class="btn toolbar-btn"><i class="fa fa-bars"></i></button>
					<button class="btn toolbar-btn"><i class="fa fa-trash"></i></button>
					<button class="btn toolbar-btn"><i class="fa fa-close"></i></button>
					<button class="btn toolbar-btn"><i class="fa fa-folder"></i></button>
				
				</div> -->
				
				<div id="scaleline-openlayers2" style="position:absolute; top:40px; right: 160px; z-index:200;"></div>
				
				<div id="loc-indicator" style="position: absolute; width:250px; background-color:white; right: 30px; top:40px; z-index:200;"></div>
				
				<div style="position: absolute; z-index:100; margin: auto; width: 100%; bottom: 0px;" id="left_bottom_area">
					
					<div style="z-index:100; height:20px; margin: auto; width:90%; background-image: '';"
				
						onclick="edu.gmu.csiss.covali.map.legendclick(this, 'right')" id="legend2" ></div>
						
					<div class="row" style="background-color: white;" id="scaleright"><div class="col-md-4 text-left" id="minright"></div><div class="col-md-4 text-center" id="middleright"></div><div class="col-md-4 text-right" id="maxright"></div></div>
				
					<div id="title-openlayers2" class="text-center" style="background-color: white; font-weight: bold; font-family:Courier New, Courier, monospace;">Layer Caption</div>
					
				</div>
			
			</div>
			
	 	</div>
		
	</div>
    
	<!--OpenLayers map-->
	<script type="text/javascript" src="../covali/js/gifler.min.js"></script>
	<!-- <script type="text/javascript" src="../covali/js/ol.js"></script> -->
	<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4-src.js"></script>
	
	<script type="text/javascript" src="../covali/js/inject_ol_cesium.js"></script>
	<script type="text/javascript" src="../covali/js/ol3-layerswitcher.js"></script>

<!-- 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
 -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../covali/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../covali/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../covali/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="../covali/js/bootstrap-treeview.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js" ></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/moment.min.js"></script>
	<script type="text/javascript" src="../covali/js/printThis.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
	
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<!--wkx-->
<!-- 	
	<script type="text/javascript" src="js/wkx.js"></script>
 -->
 
    <!--CMAPI -->
    <script type="text/javascript" src="../covali/js/tv4.js"></script>
    <script type="text/javascript" src="../covali/js/cmapi.schema.js"></script>
    <script type="text/javascript" src="../covali/js/cmajs.js"></script>
    <script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.googlemap.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.openlayers.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.openlayers.event.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.googlemap.event.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.googlemap.overlay.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.map_view_zoom.js"></script>
    <script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.map_view_center_location.js"></script>
    <script type="text/javascript" src="../covali/js/edu.gmu.csiss.gpkg.cmapi.initialize.js"></script>
	
	<!-- COVALI -->
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.login.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.projection.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.map.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.local.js"></script>d
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.filebrowser.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.multifilebrowser.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.wms.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.geojson.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.chords.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.iris.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.upload.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.uri.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.search.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.add.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.settings.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.animation.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.statistics.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.nco.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.print.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.tools.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.share.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.menu.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.toolbar.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.about.js"></script>
	<script type="text/javascript" src="../covali/js/edu.gmu.csiss.covali.main.js"></script>
    
  </body>
  
</html>
