<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
<head>
    <title>Features</title>
</head>
<body>
<div class="clearfix" layout:fragment="content">

    <div class="sec-heading font-default">
        <div class="container">
            <h1>Publication</h1>
        </div>
    </div>

    <section class="container font-default">

        <div class="panel panel-default">

            <ul>
            	<li>
					Sun Z. et al. CyberConnector: a service-oriented system for automatically tailoring multisource 
					Earth observation data to feed Earth science models. Earth Science Informatics, 2017, in press.
                </li>
            	<li>
					Mantas V M, Liu Z, Pereira A. A web service and android application for the distribution 
					of rainfall estimates and Earth observation data. Computers &amp; Geosciences, 2015, 77: 66-76.
                </li>
				<li>
					Tan X, Di L, Deng M, et al. Cloud-and agent-based Geospatial service chain: A case study of 
					submerged crops analysis during flooding of the Yangtze River basin[J]. IEEE Journal of 
					Selected Topics in Applied Earth Observations and Remote Sensing, 2015, 8(3): 1359-1370.
                </li>
				<li>
					Yagci, A. L., Di, L., &amp; Deng, M. (2015). The effect of corn-soybean rotation on the NDVI-based
					drought indicators: a case study in Iowa, USA, using Vegetation Condition Index. 
					GIScience &amp; Remote Sensing, 52(3), 290-314. 
                </li>
				<li>
                    Sun Z, Fang H, Di L, et al. Realizing Parameterless Automatic Classification of Remote Sensing
					Imagery Using Ontology Engineering and Cyberinfrastructure Techniques. 
					Computers &amp; Geosciences, 2016.
                </li>
				<li>
					Sun Z, Peng C, Deng M, et al. Automation of Customized and Near-Real-Time Vegetation Condition 
					Index Generation Through Cyberinfrastructure-Based Geoprocessing Workflows[J]. IEEE Journal of 
					Selected Topics in Applied Earth Observations and Remote Sensing, 2014, 7(11): 4512-4522.
                </li>
				<li>
                    Sun Z, Fang H, Di L, et al. Developing a web-based system for supervised classification of
					remote sensing images[J]. GeoInformatica, 2016: 1-21.
                </li>
				<li>
                    Sun Z, Fang H, Deng M, et al. Regular Shape Similarity Index: A Novel Index for Accurate 
					Extraction of Regular Objects From Remote Sensing Images[J]. IEEE Transactions on Geoscience
					and Remote Sensing, 2015, 53(7): 3737-3748.
                </li>
				<li>
                    Sun Z, Yue P, Di L. GeoPWTManager: a task-oriented web geoprocessing system. Computers 
					&amp; Geosciences, 2012, 47: 34-45.
                </li>
				<li>
                    Sun Z, Yue P, Hu L, et al. GeoPWProv: Interleaving Map and Faceted Metadata for Provenance 
					Visualization and Navigation[J]. IEEE Transactions on Geoscience and Remote Sensing, 
					2013, 51(11): 5131-5136.
                </li>
				<li>
                    Sun Z, Yue P, Lu X, et al. A Task Ontology Driven Approach for Live Geoprocessing in a Service
					Oriented Environment[J]. Transactions in GIS, 2012, 16(6): 867-884.
                </li>
                <li>
                    Chen, N., L. Di, G. Yu, and J. Gong, 2010. Geo-processing workflow driven wildfire hot pixel
                    detection under sensor web environment, Computers &amp; Geosciences, Volume 36, Issue 3, March
                    2010, Pages 362-372. doi:10.1016/j.cageo.2009.06.013
                </li>
                <li>Chen, N., L. Di, G. Yu, and M. Min, 2009. A flexible geospatial sensor observation service
                    for diverse sensor data based on Web service. ISPRS Journal of Photogrammetry and Remote
                    Sensing, Volume 64, Issue 2, March 2009, Pages 234-242. doi:10.1016/j.isprsjprs.2008.12.001 
                </li>

                <li> Chen, N., L. Di, G. Yu, J. Gong, and Y. Wei, 2009. Use of ebRIM based CSW with Sensor
                    Observation Services for registry and discovery of remote-sensing observations. Computer &amp;
                    Geosciences. Volume 35, Issue 2, Pages 360-372. doi:10.1016/j.cageo.2008.08.003.
                </li>
                <li> Di, L., K. Moe and G. Yu., 2009. Metadata Requirements Analysis for the Emerging Sensor Web,
                    International Journal of Digital Earth, Volume 2, Issue S1 2009, pages 3 - 17.
                    doi:10.1080/17538940902866195.
                </li>
                <li> Yu, G. E., Zhao, P., Di, L., Chen, A., Deng, M., &amp; Bai, Y. (2012). BPELPower - A
                    BPEL execution engine for geospatial web services. Computers &amp; Geosciences, 47, 87-101.
                </li>
            </ul>
        </div>

    </section>

</div>
</body>
</html>